@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app__container {
  min-height: 100vh;
  overflow: hidden;
  margin: auto;
  font-size: 12px;
  font-family: 'Spartan', sans-serif;
  .wrapper {
    width: 100%;
    min-width: 280px;
    max-width: 1800px;
    margin: auto;
  }
}
