* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app__container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  margin: auto;
  .wrapper {
    width: 100%;
    min-width: 280px;
    max-width: 2000px;
  }
}
